<% if logged_in? %>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1><%= "Welcome to Cinemaddict, #{current_user.first_name}!" %></h1>
        <p>Add and review your favorite movies!</p> 
    </div>

    <h1>Welcome Back, <%= current_user.first_name %></h1>

    <% if !current_user.movies.empty? %>
        <div class="row">
            <% current_user.movies.each do |movie| %>
                <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <%= link_to (image_tag movie.image.variant(resize: "400x400")), movie %>
                </div>
                </div>
            <% end %>
        </div>
    <% end %>

    <br>
    <%= button_to "Log Out", logout_path %>
<% else %>
    <div class="container">
    <div class="jumbotron">
        <h1>Welcome to Cinemaddict</h1>      
        <p>Sign up today to contribute to our wonderful world of movie reviews.</p>
        
        <a href="/login" class="btn btn-primary" role="button">Login</a>
        <a href="/users/new" class="btn btn-success" role="button">Sign Up</a>
    </div>
     
<%end%>
